$bg-primary:#490fa4;
$bg-secondery:#4bbcea;
$bg-secondery3:#edfbfd;
$bg-secondery2:#fc2681;
$bg-footer:#0d031d;
$col-white:#d1f5f5;
$col-black-primary:#4d575f;
$col-black:#252429;
$linear-gradiant : linear-gradient(119deg , $bg-primary,$bg-secondery);